.main {
  width: inherit;
  height: inherit;
  /* border: 1px solid black; */
  position: relative;
  display: flex;
  flex-direction: column;
}
.contactBar,
.navBar,
.footer {
  width: inherit;
  /* border: 1px solid black; */
  position: relative;
}

/* ContactBar Css */

.contactBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  position: relative;
}
.phonenumber,
.mailId {
  display: flex;
  align-items: center;
  padding: 5px 2px;
  cursor: pointer;
  font-size: medium;
  font-weight: 400;
  transition: all 300ms;
  color: rgb(13, 0, 61);
}
.phonenumber > span,
.mailId > span {
  padding: 2px;
}

/* NabBar Css */

.navBar {
  display: flex;
  flex-direction: column;
}
.uppermenu {
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.upper_left {
  width: 70px;
  height: 70px;
  margin-left: 10px;
}
.upper_left > img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  /* border: 1px solid black; */
}
.upper_right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.upper_right > span {
  font-size: 28px;

  font-weight: normal;
  cursor: pointer;
  padding: 4px;
}
.upper_right section {
  display: flex;
  font-weight: normal;
  cursor: pointer;
  padding: 4px;
  align-items: center;
}
.upper_right section span:nth-child(2) {
  font-size: 15px;
  align-self: flex-start;
  margin-bottom: 10px;
  color: rgb(32, 97, 66);
}
.user_account {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  border-radius: 5px;
  padding: 5px 5px;
  transition: background-color 300ms ease-in;
  /* border: 1px solid rgb(199, 198, 198); */
}

.user_account:hover {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.user_account span {
  font-size: 15px;

  font-weight: normal;
  cursor: pointer;
  padding: 1px;
}

@media only screen and (max-width: 650px) {
  .phonenumber > span,
  .mailId > span {
    font-size: 15px;
  }
  .upper_right > span {
    font-size: 20px;
  }
  .upper_right section span {
    font-size: 20px;
  }
  .user_account > span {
    font-size: 15px;
  }
}
