.productCard {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid rgba(233, 230, 230, 0.61);
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  /* background-color: rgba(240, 248, 255, 0.432); */
  transition: all 300ms ease-in;
}
.productCard > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  /* border: 1px solid black; */
  margin: 5px;
}

.productCard > span {
  /* border: 1px solid black; */
  margin: 0px 10px;
  word-break: normal;
  width: 200px;
  text-align: center;
}
.productCard > button {
  border: none;
  width: 200px;
  padding: 10px 0px;
  margin: 10px;
  background-color: rgb(245, 207, 157);
  border-radius: 2px;
  font-size: 1em;
}
.productcard_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  justify-content: space-around;
  margin: 10px;
  margin-bottom: 20px;
}
.productcard_footer > span {
  font-size: 2em;
  cursor: pointer;
}

.productCard:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Pagination */
.page-link {
  color: chocolate;
}

@media only screen and (max-width: 650px) {
  .productCard > img {
    width: 140px;
    height: 140px;
  }
}
